
#aboutHeader {
    height: 90vh;
    background-image: url('../images/aboutcoverimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include displayflex (center, center);
    h1 {
        font-family: $primary-font;
        color: $secondary-color;
    }
}

.aboutSection {
    @include displayflex (space-between, center);
    margin: 80px;
    padding: 0 30px;
    img {
        width: 47%;
    }
    .aboutSectionText {
        width: 47%;
        font-family: $primary-font;
    }
}